h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 60px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 50px;
    position: relative;
    animation: slide-in-h1 2s ease-out forwards;
}

@keyframes slide-in-h1{
    0%{
        transform: translateX(-100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

.contact-us-message{
    margin-bottom: 75px;
    font-size: 20px;
    position: relative; 
    animation: slide-in-message 2s ease-out forwards; 
}

@keyframes slide-in-message{
    0%{
        transform: translateX(-100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

.container{
    background-color: rgba(0, 0, 0, 0.932);
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    padding: 50px 25px;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-self: center;
    border-radius: 40px;
    position: relative; 
    animation: slide-in-form 2s ease-out forwards; 
}



@keyframes slide-in-form{
    0%{
        transform: translateX(-100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

input{
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 70%;
    font-size: 20px;
    padding: 16px 16px;
    border-radius: 15px;
    border-color: black;
    border: 2px solid black;
    border-width: 2px;
    margin-bottom: 8px;
    transition: all 0.3s ease-in-out;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input:focus, textarea:focus {
    outline: none;
    border-color: rgb(47, 255, 64);
    box-shadow: 0 0 10px rgb(47, 255, 64);
}

input:focus-within{
    outline: none;
    border-color: rgb(47, 255, 64);
    box-shadow: 0 0 10px rgb(47, 255, 64);
}

textarea{
    background-color: white;
    width: 70%;
    padding: 16px 16px;
    border-radius: 15px;
    border-color: black;
    border-width: 2px;
    font-size: 20px;
    margin-bottom: 55px;
    transition: all 0.3s ease-in-out;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

textarea:focus-within{
    outline: none ;
    border-color: rgb(47, 255, 64);
    box-shadow: 0 0 10px rgb(47, 255, 64);
}

button{
    text-decoration: none;
    background-color: white;
    color: black;
    border-radius: 20px; 
    border-color: black;
    font-size: 20px;
    text-align: center;
    padding: 10px 15px;
    display: flex;
    margin: auto;
}

button:hover{

    background-color: rgb(47, 255, 64);
    transition: background-color 0.7s ease;
    transform: scale(1.2);
    box-shadow: 0 0 10px rgb(47, 255, 64, 0.8);
    transition: all 0.7s ease 0.2s;
    cursor: pointer;
}

@media (max-width: 1024px)
{
    h1 {
        margin-top: 100px;
    }

    .container{
        height: 550px;
        width: auto;
    }
}