h1{
    margin-top: 75px;
    margin-bottom: 25px;
}

.restaurant{
    display: flex;
    justify-content: space-between;
    margin-bottom: 75px;
    margin-right: 35px;
    padding: 10px 55px;
}

.restaurant img{
    height: auto;
    width: 300px;
    margin-left: 25px;
    margin-right: 35px;
    border-radius: 25px;
    animation: slide-in-img 2s ease-out forwards;
}

@keyframes slide-in-img{
    0%{
        transform: translateX(300%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

.dining-in-malta{
    margin-top: 35px;
    margin-bottom: 10px;
}

.med-influence{
    margin-top: 35px;
    margin-bottom: 10px; 
}

.rec-rest{
    margin-top: 35px;
    text-align: center;
}


.links a{
    text-decoration: none;
    font-size: 35px;
    color: inherit;
    font-weight: bold;
    transition: color 0.3s ease;
}

.links{
    position: relative;
    animation: slide-in-links 2s ease-out forwards;
}

@keyframes slide-in-links{
    0%{
        transform: translateX(-100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

.links a:hover{
    color: rgb(255, 215, 0);
    transform: scale(1.2) rotate(5deg);
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);
}

.menu1 , .menu2{
    position: relative;
    animation: slide-in-menus 2s ease-out forwards;
}

@keyframes slide-in-menus{
    0%{
        transform: translateX(-100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}


ul {
    font-size: large;
    list-style-type: none; 
    margin: 20px auto; 
    padding: 0; 
    max-width: 900px; 
    color: white;
    background-color: black;
    border-radius: 20px; 
    padding: 20px; 
}

li {
    text-align: center;
}

li strong{
    display: block;
    margin-bottom: 10px;
    margin-top: 15px;
    font-size: 20px;
}

.sweet-treats{
    margin-top: 50px;
}

footer {
    margin-bottom: 0;
    padding-bottom: 0;
}


@media (max-width: 1024px) {

    h1 {
        margin-top: 100px;
    }
    body {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    
    .restaurant {
        flex-direction: column;
        align-items: center;
        margin: 20px auto;
        padding: 10px;
    }

    .restaurant img {
        width: 100%;
        margin: 20px 0;
    }

    .links {
        text-align: center;
    }

    ul {
        max-width: 100%;
        margin: 10px auto;
        padding: 10px;
    }

    li {
        font-size: 18px;
    }

    

}

