.intro img{
    height: auto;
    max-width: 90%;
    border-radius: 50px;
    margin: 20px auto;
    display: block;
    position: relative;
    animation: slide-in 2s ease-out forwards;
}

@keyframes slide-in{
    0%{
        transform: translateX(-100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

h1{
    margin: 25px;
    margin-bottom: 25px;
}

p {
    padding-left: 200px;
    padding-right: 200px;
    
    font-size: 21px;
}

h3{
    padding-left: 200px;
    padding-right: 200px;
    margin-top: 23px;
    margin-bottom: 25px;
    font-size: 23px;
}

.hero{
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
    background-color: black;
    padding-bottom: 30px;
    padding-top: 30px;
    border-radius: 25px;
    margin-left: 200px;
    margin-right: 200px;
}

@media (max-width: 1024px) {
    body {
        display: flex;
        flex-direction: column;
    }

    p, h3 {
        padding-left: 5%;
        padding-right: 5%;
        font-size: 1rem;
    }

    h1 {
        margin-top: 100px;
        font-size: 1.8rem;
    }

    .hero {
        margin-left: 5%;
        margin-right: 5%;
    }
    .intro img{
        max-width: 90%;
        margin-bottom: 15px;
    }

}

